<div class="container">
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                <h5 class="mb-0 mr-4 mt-2"> <strong>Edit Product </strong></h5>
                    <div class="row mb-4 px-3">
                    </div>
                    <div class="row px-3 mb-4">

                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Product Name</h6>
                        </label> <input class="mb-4" type="text" name="name" id="name"
         required
         [(ngModel)]="model.name" name="name" placeholder="Enter product name"  >
                        </div>

                           <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Description</h6>
                        </label> <input class="mb-4" type="text"  required
         [(ngModel)]="model.description" name="description" id="description" placeholder="Enter Description">
                        </div>
                           <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Cost Price</h6>
                        </label> <input class="mb-4" type="number" required  [(ngModel)]="model.costPrice"  name="costPrice" id="costPrice" placeholder="Enter a valid email address">
                        </div>
                           <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Selling Price</h6>
                        </label> <input class="mb-4" type="number" required name="sellingPrice" [(ngModel)]="model.sellingPrice" id="sellingPrice" placeholder="Enter a phoneNumber">
                        </div>
                           <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Quantity</h6>
                        </label> <input class="mb-4" type="number" required name="quantity"  [(ngModel)]="model.quantity" id="quantity" placeholder="Enter a valid email address">
                        </div>
                    <div class="row px-3 mb-4">
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-secondary text-center" (click)="UpdateProduct(model)"  >Update product</button> </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
